.advantages {
  padding-top: 70px;
  text-align: center;
  color: #383A4C;
  padding-bottom: 70px;
}

.advantages__container {
  max-width: 934px;
  margin: 0 auto;
}

.advantages__title {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.advantages__subtitle {
  
  padding-bottom: 35px;
  font-weight: 500px;
  font-size: 22px;
  line-height: 26px;
}

.advantages__line_left {
  vertical-align: middle;
  margin-right: 23px;
}

.advantages__line_right {
  vertical-align: middle;
  margin-left: 23px;
}



.advantages__text {
  
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  max-width: 724px;
  margin: 0 auto;
  padding-bottom: 55px;
}
.advantages__list {
  margin: 0 auto;
  display: flex;
  gap:62px;
}



.advantages__item_digit {
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: #FFFFFF;
  display: inline-block;
  background: #23C7EC;
  text-align: center;
  border-radius: 50%;  
  padding: 38px 45px 31px;
  margin-bottom: 13px;
  margin-left: 10px;
}

.advantages__item_text {
  font-weight: 500px;
  font-size: 20px;
  line-height: 28px;
  margin-left: 12px;
  
}

@media (max-width: 1024px) {
  .advantages__container {
    max-width: 880px;
    
  }

  .advantages__title {
    padding-bottom: 23px;
    font-size: 32px;
    line-height: 38px;
  }

  .advantages__subtitle {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 23px;
  }

  .advantages__line_left {
    margin-right: 19px;
  }

  .advantages__text {
   
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 2px;
  }

  .advantages__list {
   
    gap: 50px;
  }

  .advantages__item_digit {
    font-size: 52px;
    line-height: 73px;
    padding: 16px 37px;
    margin-bottom: 28px;
  }

  .advantages__item_text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 2px;
  
}

@media (max-width: 500px) {
.advantages {
  padding-bottom: 60px;
}

  .advantages__title {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 23px;
  }

  .advantages__subtitle {
    padding-bottom: 26px;
    font-size: 18px;
    line-height: 19px;
  }

  .advantages__text {
   
    font-size: 12px;
    line-height: 17px;
    padding-bottom: 40px;
  }

  .advantages__list {
    flex-direction: column;
    gap: 40px;
  }

  .advantages__item {
    max-width: 166px;
    margin: 0 auto;
  }
  
}

