.footer {
  padding: 45px 0;
  background-color: #2F324B;
  color: #FFFFFF;
}

.footer__container {
  display: flex;
}

.footer__logo {
  width: 68px;
  height: 68px;
  margin-right: 19px;
}

.footer__list {
  width: 986px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer__item {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
}

.production__second {
  display: none;
}

@media (max-width: 1024px) {
  .production {
    opacity: 0.5;
  }

  .footer__logo {
    width: 60px;
    height: 60px;
  }
  
}

@media (max-width: 500px) {
.footer {
  padding-top: 25px;
  padding-bottom: 0;
}

.footer__logo {
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
}

.footer__item{
    font-size: 8px;
}

.production {
  display: none;
}

.production__second {
  display: initial;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding-top : 15px;
  padding-bottom: 15px;
  background: #2A2C3F;
  opacity: 0.5;
}
}

