.proposal{
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 120px;
}

.proposal__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  padding-bottom: 33px;
  max-width:990px;
  margin: 0 auto;
  
  opacity: 0.86;
  
}

.proposal__text  {
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  padding-bottom: 90px;
  max-width: 960px;
  margin: 0 auto;
  opacity: 0.75;
}

.proposal__btn {
  width: 200px;
  height: 48px;
}

@media (max-width: 1024px) {
  .proposal {
    padding-bottom: 70px;
  }

  .proposal__title {
    max-width: 780px;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 27.57px;
  }

  .proposal__text {
    max-width: 754px;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 58px;
  }
}

@media (max-width: 500px) {
  .proposal {
    padding-bottom: 65px;
  }

  .proposal__title {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 23px;
  }

  .proposal__text {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 54px;
  }
}